.checkout_add {
    width: 100%;
    margin-bottom: 10px;
    height: 150px;
}

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout_left {
    flex: 3; /* Adjust as needed */
}

.product > button:hover {
    border-color: #e4dbc7 #e4dbc7 #e4dbc7;
}


.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
